<form action="/FileUpload/Nondiscrimination" id="BodyForm" method="post">    <div class="row container body-content" dir="ltr">
        <!-- Body -->
        <input id="ViewLang" name="ViewLang" type="hidden" value="">
        <div class="col-xs-12 col-md-12 center-block panel panel-primary" id="NonDiscrimPageBody" dir="ltr">
           
                <h2 class="panel-heading"><b>Statement of Non-Discrimination</b></h2>
                <div class="panel-body centerText text-center" dir="ltr">
                    <br>
                    This institution is prohibited from discriminating on the basis of race, color, national origin, disability, age, sex, and in some cases religion or political beliefs.
                    <br>
                </div>
                <div class="panel-body centerText text-center" dir="ltr">
                    The U.S. Department of Agriculture also prohibits discrimination based on race, color, national origin, sex, religious creed, disability, age, political beliefs or reprisal or retaliation for prior civil rights activity in any program or activity conducted or funded by USDA.
                    <br>
                </div>
                <div class="panel-body centerText text-center" dir="ltr">
                    Persons with disabilities who require alternative means of communication for program information (e.g. Braille, large print, audio tape, American Sign Language, etc.), should contact the Agency (State or local) where they applied for benefits. <br>Individuals who are deaf, hard of hearing or have speech disabilities may contact USDA through the Federal Relay Service at (800) 877-8339. Additionally, program information may be made available in languages other than English. <br>To file a program complaint of discrimination, complete the USDA Program Discrimination Complaint Form, (AD-3027) found online at <a href="http://www.ascr.usda.gov/complaint_filing_cust.html">www.ascr.usda.gov/complaint_filing_cust.html</a>, and at any USDA office, or write a letter addressed to USDA and provide in the letter all of the information requested in the form.  To request a copy of the complaint form, call (866) 632-9992. Submit your completed form or letter to USDA by mail at:<br>
                    <br>
                    U.S. Department of Agriculture <br> 
Office of the Assistant Secretary for Civil Rights <br>
1400 Independence Avenue, S.W. <br>
Washington, D.C. 20250-9410 <br>
or by fax (202) 690-7442 or email at <br> <a href="mailto:program.intake@usda.gov">program.intake@usda.gov.</a>.
                    <br>
                </div>
                <div class="panel-body centerText text-center" dir="ltr">
                    To file a complaint of discrimination regarding a program receiving Federal Financial assistance through the U.S. Department of Health and Human Services (HHS), write: <br> 
HHS<br>
Director, Office for Civil Rights<br>
200 Independence Avenue, S.W., Room 515 F.
<br>Washington, D.C. 20201
 <br> or call (202) 619-0403 (Voice) or (800) 537-7697 (TTY).
                    <br>
                </div>
            

            <hr>
            <div class="panel-footer" dir="ltr">
                <button class="btn btn-primary" formaction="/FileUpload/Navigate?pageFrom=NonDiscrimination&amp;NavTo=Welcome">
                    <i class="fa fa-arrow-left fa-lg"></i> Previous
                </button>
                <button class="btn btn-primary pull-right" formaction="/FileUpload/Navigate?pageFrom=NonDiscrimination&amp;NavTo=Upload">
                    <i class="fa fa-arrow-right fa-lg"></i> Next
                </button>
            </div>
        </div>
    </div>
</form>
